<% content_for :title do -%>
Taxon <%= @taxon.label %>
<%- end %>
 
<% content_for :sidebar do %>
  <%= scientific_classification @taxon, false, true %>
  <% if @taxon.specimens %>
    <div><%= sites_map(@taxon.sites, [300, 300]) %></div>
  <% end %>
<% end %>
 
<%= render 'form' %>
 
