// Place all the styles related to the Taxa controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#taxon_description { width: 46em }

div.guide { border-top: 1px solid #bdf; padding-top: 1ex; padding-bottom: 1ex }
div.guide div.photos { padding-top: 1ex }
span.scientific_name { font-style: italic; font-weight: bold }
div.count-descr { padding: 1em 0; border-top: 2px solid #135 }
