<% content_for :title do -%>
<%= @site.to_s %>
<%- end %>

<% content_for :sidebar do %>
<!-- TODO <div><%#= f.submit 'Save changes', form: f.form_id %></div> -->
  <% map_size = [300, 300] -%>
  <div class='map'>
    <%= image_tag site_map_url(@site, map_size), width: map_size[0], height: map_size[1] %>
   </div>
<% end %>
  
<%= render 'form' %>
 
<%= link_to 'Back', sites_path %>
