<% content_for :title do -%>
<%= @site.to_s %>
<%- end %>

<% content_for :sidebar do %>
  <!-- TODO <div><%#= f.submit 'Save changes', form: f.form_id %></div> -->
  <%= sites_map([@site], [300, 300], 17, 'site_location') %>
<% end %>
  
<%= render 'form' %>
 
